
body {
    font-family: "Roboto", sans-serif;
    
}

/* Padding for all the sections */
.hero,
.info,
.quote,
.cta,
footer {

    padding: 0px 150px;

}

.hero,
footer {
    background-color: #1F2937;
    color: white;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.h3 logo {
    font-size: 24px;
    color: #F9FAF8
}

a {
    text-decoration: none;
}

.NH-section img,
.NH-Vsection {
    flex: 1;
}

.NH-section button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    align-content: flex-start;
    width: 100px;
    height: 30px;
    margin-top: -10px;
    margin-bottom: 100px;
}

.NH-section img {
    width: 400px;
    height: 200px;
    margin-top: -70px;
}

/* Flex Configuration*/


body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    display: flex;
}
/* Non Header Section (EXCLUDING HEADER)*/
.NH-section {
    display: flex;
    justify-content: baseline;
    align-items: center;
}



.NH-Vsection {
    display: flex;
    flex-direction: column;
}

ul,
.NH-section img {
    margin-left: auto;
}