
body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    
}

/* Padding for all the sections */
.hero,
.info,
.quote,
.cta,
footer {

    padding: 0px 150px;

}

.hero,
footer {
    background-color: #1F2937;
    color: white;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero p,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.h3 logo {
    font-size: 24px;
    color: #F9FAF8
}

a {
    text-decoration: none;
}

.NH-section img,
.NH-Vsection {
    flex: 1;
}

.NH-section button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    align-content: flex-start;
    width: 100px;
    height: 30px;
    margin-top: -10px;
    margin-bottom: 100px;
}

.NH-section img {
    width: 400px;
    height: 200px;
    margin-top: -70px;
}

.info h2 {
    font-size: 36px;
    color:#1F2937;
    font-weight: 900;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote h3 {
    align-self: flex-end;
}

.cta {
    padding-top:140px;
    padding-bottom:140px;

}

.Vtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
}

.Vtext h3 {
    margin-bottom: 0;
    margin-top: 40px;

}

.Vtext p {
    margin-top: 0;
    margin-bottom: 40px;

}

.midsection {
    background-color: #3882f6;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

}

.midsection button {
    background-color: #3882f6;
    border-color: white;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 2px solid white;
    box-shadow: none;
    outline: none;
    width: 100px;
    height: 30px;
}

.info,
.quote,
.cta {
    height: 419px;
    box-sizing: border-box;
}


/* Flex Configuration*/


body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header {
    display: flex;
}
/* Non Header Section (EXCLUDING HEADER)*/
.NH-section {
    display: flex;
    justify-content: baseline;
    align-items: center;
}



.NH-Vsection {
    display: flex;
    flex-direction: column;
}

ul,
.NH-section img {
    margin-left: auto;
}

.imgtext,
.info {
    display: flex;
    flex-direction: column;
}

.infocontainer {
    display: flex;
    gap: 10px;
}

.info {
    align-items: center;
}

.imgtext img {
    border: 3px solid blue;
    border-radius: 10px;
    width: 200px;
    height: 200px;

}

footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}